# Poetry
.venv/
poetry.lock

# Python
__pycache__/
*.pyc
*.pyo
.python-version

# Notebooks
.ipynb_checkpoints/

# Data and artifacts (mantém apenas marcadores vazios)
reports/
models/
!data/**/.gitkeep
!reports/.gitkeep
!models/.gitkeep

# OS / Editor
.DS_Store
Thumbs.db
.idea/
.vscode/

# Tests
.pytest_cache/


